<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<div class='row'>
  <h3>Number: {{ target_list.count }}</h3>
</div>
<div class='row'>
  <table class="sortable">
    <tr>
      <th>TNS Name</th>
      <th>RA</th>
      <th>Dec</th>
      <th>Disc. Group</th>
      <th>Host z</th>
      <th>Type</th>
      <th>Discovery Date</th>
      <th>Minimum Airmass</th>
      <th>Obs window start</th>
      <th>Obs window end</th>
      <th>Days until peak</th>
      {% for filt in filters %}
        <th>{{ filt }}</th>
      {% endfor %}
      {% if UKIRT_stats %}
        <th> # of UKIRT epochs </th>
        <th> Last Observed on UKIRT </th>
      {% endif %}
    </tr>
    {% for obj in target_list %}
      <tr class="item">
          <td><a href='/{{ module }}/{{ obj.TNS_name}}/{{ query_string }}'>{{ obj.TNS_name }}</a></td>
        <td>{{ obj.ra|floatformat:2 }}</td>
        <td>{{ obj.dec|floatformat:2 }}</td>
        <td>{{ obj.discovering_group }}</td>
        {% if obj.galaxy %}
          <td>{{ obj.galaxy.z|floatformat:5 }}</td>
        {% else %}
          <td></td>
        {% endif %}
        <td>{{ obj.sn_type.name }}</td>
        <td>{{ obj.detection_date|floatformat:1 }}</td>
        {% for key, value in obj.airmass.items %}
          <td>{{ value }}</td>
        {% endfor %}
        <td>{{ time_to_peak }} </td>
        {% for filt in filters %}
          {% if filt in obj.current_mags.keys %}
            <td>{{ obj.current_mags|get_item:filt|floatformat:1 }}</td>
          {% else %}
            <td></td>
          {% endif %}
        {% endfor %}
        {% if UKIRT_stats %}
          <td>{% widthratio obj.observations.count 2 1 %}</td>
          <td>{{ obj.observations.last.name }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>
